*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: Helvetica Neue, Arial, sans-serif;
    font-size: 18px;
    display:flex;
    width:100%;
}
h1,h2,h3{
    color:#265cb2;
}
h1{
    text-align:center;
    margin:20px;
}
h2{
    margin:10px;
}
a{
    text-decoration: none;
    margin:10px;
}
a:hover{
    text-decoration:underline;
}
.main-text{
    text-align:justify;
    margin:20px 5px 20px 10px;
}
.blog-post{
    padding:15px 0px 15px 0;
    width:70%;
    float:left;
    position:relative;
}
.blog-post img{
    width:100%;
    margin:5px;
}
.date{
    position:absolute;
    right:0px;
    padding:8px;
    font-weight:bold;
}
.container{
    width:1140px;
    margin:20px auto 0 auto;
}

.other-posts{
    padding:20px;
    width:30%;
    height:fill-parent;
    float:right;
}
.other-posts-list{
    list-style-type: none;
}
.post-link{
    padding: 5px;
    margin: 15px 0;
    border-top: 5px solid #265cb2;
    border-bottom: 5px solid #265cb2;
}
.author-box{
    padding:10px;
    clear:both;
    min-height:50px;
}
.author-box img{
    height:100px;
    width:auto;
    margin:15px;
    float:left;
}
.author-info{
    font-weight:bold;
    padding:15px;
    float:left;
    margin-top:45px;
}
hr{
    color:gray;
    width:100%;
}